body{
    background: rgb(255, 255, 133);
}

.heading{
    font-size : 20px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 10px yellow;
}

.note{
    font-size: 15px;
    color:rgb(88, 88, 0);
}

.copy_right_footer{
    position: fixed;
    color: rgb(175, 177, 52);
    bottom: 0;
    width: 100%;
    background: rgb(249, 250, 178);
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid rgb(73, 72, 0);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(255, 238, 0);
}